<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-8 col-md-offset-2">
      <!-- <h1 class="title"> </h1>   -->
       <p class="slogan"> Better Jobs, Better Carrer </p>
       <p class="lead">

         <!-- <a class="btn btn-danger btn-xlg-c" href="/jobs" >马上应征</a>    -->
          <!-- 注释掉的方法也行 -->

          <%= link_to '马上应征', jobs_path, class: 'btn btn-danger btn-xlg-c'%>
       </p>
     </div>
   </div>
 </div>

 <div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading"><br>新的起点</br><br>新的方向</br></h2>
        <p class="lead">   </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">海量岗位，总有一个适合你</h2>
        <p class="lead">  </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">职位更新迅若闪电<br><br> 让你快人一步</h2>
        <p class="lead">  </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
