/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

//-----------container-fluid------------------
.row {

    margin-left: -15px;
    margin-right: -15px;
}

 //---------Navbar---------

 .navbar-default {
     background-color: #212121;
     border-color: #212121;

     border-radius: 0;
 }

 .navbar-brand > img {
   display: inline-block;
   margin-right: 10px;
   margin-top: -4px;
    margin-left: -8px;
   width: 32px;
   height: 32px;

 }

 .navbar-default .navbar-brand {
     color: white;
     font-size: x-large;
     padding: 10px 20px;
     line-height: 30px;
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
     color: #5cb85c;
     background-color: transparent;
 }

 .navbar-default .navbar-nav > li > a {
     color: white;
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
     color: #5cb85c;
     background-color: transparent;
 }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
     color: #FF6F00;
     background-color: #FFE0B2;
 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
     background-color: white;
     color: #212121;
 }

 .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {

    margin-left: -15px;
}

 #search-id {
  width: 320px;
  padding-top: 8px;


}

//----------------------------------------------welcome-----------------------------------
/* -----------Search.html.erb----------*/

.search-info-title {
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
  color: #0d6ded;
  font-size: 20px;
  text-align: center;
}

 //---------Box---------

 .box {
     background-image: url("header.jpg");
     background-repeat: no-repeat;
     background-color: #e7e7e7;
     background-size: cover;
     margin-bottom: 50px;
     margin-top: -20px;

     .box-inner {
         background-color: rgba(250, 250, 250, 0.69);
         padding-bottom: 5px;
         margin-top: 150px;
         margin-bottom: 150px;

     }

     .title {
         text-align: left;
         margin-left:50px;
         margin-bottom: 100px;
         margin-top: 50px;
         font-size: 500%;
     }

     .slogan {
         color: #222;
         margin-top: 10px;
         margin-bottom: 50px;
         text-align: center;
         font-size: 60px;
         top: 12px;
     }

     .lead {
         margin-bottom: 60px;
         text-align: center;
         color: white;

     }
 }

 .custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #5cb85c;
}

 //---------Content---------

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

//---------Footer---------

 footer {
     color: transparent;
     background-color: #233140;

 }
 footer {
   padding: 3em 0;
 }

 .soc-media-ul {
     justify-content: center;
     display: flex;

 }
 .soc-media-ul a {
    display: block;
    padding: 0.5em 0.8em;
    font-size: 1em;
    color: #fff;
    border-radius: 50%;
    border: 2px solid;

    &:hover,
    &:focus{
      color: #5cb85c;
    }
}
.soc-media-ul li:not(:first-child) a {
    margin-left: 1em;
}
// .footer {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 150px;
//     background-color: #111;
//     text-align: center;
// }
// .footer .container {
//     margin-top: 20px;
//     color: #fff;
//     width: 100%
// }

 footer .footer-below {
     padding: 25px 0;

 }

 element.style {
    padding-top: 0px;
    padding-bottom: 0px;
}
/*----------如何使2个超链接表现不同的效果----------------*/
// 每个a链接单独一个class
// <a class="a1" herf="#">图片1</a>
// <a class="a1" herf="#">图片2</a>


// .a1：hover{滑动过去的图片}

 .a1 {
    color: #eeeeee;
    text-decoration: none;
    // &:hover,
    // &:focus{
    //   color: #5cb85c;
    // }
}
.a1:hover, .a1:focus {
    color: #5cb85c;
}
//-------common-----------
.col-centered{
  float: none;
  margin: 0 auto;
}

.btn-xlg-c, .btn-group-lg > .btn {
    padding: 10px 16px;
    width: 300px;
    height: 62px;
    font-size: 30px;
    line-height: 1.3333333;
    border-radius: 6px;

}

//-------------------------------------job-list----------------------------------------
.job-primary {
    overflow: hidden;
    color: #1fbdad;
}

.job-primary .info-primary {
    float: left;
    color: #61687c;
}
.red {
    color: #fc703e;
}

.vline {
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: middle;
    background: #E0E0E0;
    margin: 0 10px;
}

.info-company {
    overflow: right;
}

.home-box .job-list .company-text {
    padding-top: 6px;
}
.company-text {
    text-align: right;
}


.home-box .job-list {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.home-box .job-list li .company-logo {
    height: 60px;
    color: #61687c;
    font-size: 18px;
    width: auto;
    line-height: 80px;
}

.home-box .job-list {
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 15px;
}
.job-list li {
    padding: 20px 40px;
    border-bottom: 1px #F2F2F5 solid;
    // border-top: 1px #F2F2F5 solid;
    // // border-left: 1px #F2F2F5 solid;
    // // border-right: 1px #F2F2F5 solid;
    overflow: hidden;
  }
.li {
      display: list-item;
      text-align: -webkit-match-parent;
  }
  #header:after, #main:after, .clearfix:after, .home-box:after, .inner:after, .job-author:after, .job-list li:after, .job-primary:after, .promotion-job li:after {
      content: '';
      display: block;
      overflow: hidden;
      visibility: hidden;
      clear: both;
  }
  ul, ol {
      margin-top: 0;
      margin-bottom: -10px;
  }


// .panel-green-c > .panel-heading {
//     color: #f5f5f5;
//     background-color: #5cb85c;
//     border-color: #2a5a04;
// }
