



<footer class="footer navbar-fixed-bottom"
style="padding-bottom: 0px;
padding-top: 5px;">
  <div class="container">

    <ul class="soc-media-ul" style="padding-left: 0px;">


      <li>
        <a  href="https://github.com/Song201702" class="fa fa-github" target="_blank"></a>
      </li>

      <li>
        <a  href="http://cz.linkedin.com" class="fa fa-linkedin" target="_blank"></a>
      </li>

      <li>
        <a  href="https://dribbble.com/" class="fa fa-dribbble" target="_blank"></a>
      </li>

      <li>
        <a  href="http://facebook.com" <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </li>

      <li>
        <a  href="mailto:cs4614@qq.com" class="fa fa-envelope"></a>
      </li>
    </ul>
  </div>

  <footer class="text-center"
    style="padding-top: 0px;
    padding-bottom: 0px;">
     <div class="footer-below"
     style="padding-top: 15px;
     padding-bottom:5px;">
       <a class="a1" href="/about">About us</a>
       <!-- <i style = "color: white">wohencu</i> -->
    </div>
  </footer>
